@model ProyectoRedesDefinitivo.Link

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Link</title>
</head>
<body>
    <div>

        <img src="@Model.link1" style="width:300px; height:300px; "> <h1 style="display: inline-block">¿=?</h1>
        <img src="@Model.link2" style="width:300px; height:300px;"><br />
        <label> Resultado: @Model.Resultado<br /></label>
        <label> @Model.Grado<br /></label>
    </div>
</body>
</html>
